@import url('../fonts/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SourceSans3-Regular';
    user-select: none;
}

/*********************************************  HEADER *********************************************/
header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    box-shadow: #242424 0px 0px 30px -20px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}

/*************** nombre ***************/
header .nombre h1{
    font-size: 25px;
    color: #4B5563;
    font-family: 'Kanit-Bold';
}

header .nombre h1 span{
    color: #242424;
    font-family: 'Kanit-Bold';
}

/*************** menu ***************/
.check_menu{
    display: none;
}

header label img{
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
}
/*************** nav ***************/
nav ul{
    font-size: 18px;
    gap: 20px;
    list-style: none;
    display: flex;
}

nav ul li a{
    font-weight: 600;
    color: #4B5563;
    text-decoration: none;
    position: relative;
    transition: all ease-in .3s;
}

nav ul li a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #242424;
    transition: all ease-in .3s;
}

nav ul li a:hover::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #242424;
}

nav ul li a:hover{
    color: #242424;
}

/*********************************************  INICIO *********************************************/
#inicio{
    width: 100%;
    margin-top: 100px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************** nombre ***************/
.datos .nombre_completo {
    font-size: 25px;
    text-align: left;
    font-family: 'Kanit-Bold';
}

/*************** oficio ***************/
.datos .oficio {
    font-size: 14px;
    color: #4B5563;
    text-align: left;
    margin-top: -35px;
}

/*************** boton ***************/
.btn_hablame {
    margin-top: 20px;
    text-align: left;
}

.btn_hablame a {
    font-size: 14px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    background-color: #4B5563;
    transition: all 0.3s ease;
}

.btn_hablame a:hover {
    background-color: #000;
}

/*************** foto ***************/
#inicio .foto {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    background-color: #4B5563;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/camila/yo-.png');
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    animation: animation_foto 8s ease-in-out infinite 1s;
}

@keyframes animation_foto {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
  
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/********************************************* SKILLS  *********************************************/
#skills {
    width: 100%;
    display: grid;
    margin-top: 140px;
    place-items: center;
    overflow-x: hidden;
    margin-bottom: 30px;

}

#skills h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Kanit-Bold';
}

/*************** carrusel infinito ***************/
.container_skills {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/*************** card ***************/
.container_skills .card_skill {
    width: 150px;
    height: 70px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #657080;
    box-shadow: 0px 0px 35px -20px black;
}

.card_skill .title_skill span {
    font-size: 14px;
    font-weight: bold;
}

.card_skill p {
    font-size: 12px;
    color: #657080;
}

/*********************************************  SOBRE MI *********************************************/
#sobreMi {
    width: 100%;
    margin-top: 180px;
    user-select: none;
    margin-bottom: 150px;
}

#sobreMi h2 {
    font-size: 20px;
    text-align: center;
}

/*************** info ***************/
.info {
    width: 100%;
    margin-top: 30px;
    display: grid;
    place-items: center;
}

/*************** foto ***************/
.info .foto_sobreMi {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    background-color: #4B5563;
}

.foto_sobreMi img {
    width: 100%;
    height: 100%;
}

.info_sobreMi {
    width: 100%;
    margin-top: 20px;
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

.info_sobreMi .btn_sobreMi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.btn_sobreMi div {
    color: #fff;
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4B5563;
    transition: all 0.3s ease-in;
}

.btn_sobreMi div:hover {
    background-color: #000;
}

.info_categorias {
    width: 100%;
    display: grid;
    place-items: center;
}

.info_categorias .category_content {
    width: 50%;
    padding: 5px;
    font-size: 14px;
    color: #4B5563;
}

.category_content{
    height: 150px;
}

.category_content p {
    font-size: 14px;
    color: #4B5563;
    text-align: justify;
}

#cat_intereses div span i{
   color: #000;
   margin-bottom: 10px;
}

/*************** boton descargar ***************/
#btn_descargar {
    width: 80%;
    margin-top: 30px;
    text-align: center;
}

#btn_descargar a {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4B5563;
    transition: all 0.3s ease-in;
}

#btn_descargar a:hover {
    background-color: #000;
}

.category_btn.active {
    background-color: #000;
    color: #fff;
}

/*********************************************  CERTIFICADOS *********************************************/
#certificados{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

#certificados h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Kanit-Bold';
}

/*************** container_cert ***************/
.container_cert{
    width: 95%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container_cert .card_cert{
    width: 230px;
    height: 100px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    border: #242424 solid 1px;
    box-shadow: #242424 0 0 30px -15px;
    transition: all ease-in-out .3s;
}

.container_cert .card_cert:hover{
    transform: translateY(-4px);
}

#certificados .card_cert h2{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Kanit-Regular';
}

/*********************************************  PROYECTOS *********************************************/
#proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px;
    user-select: none;
}

#proyectos h2 {
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Kanit-Bold';
}

#proyectos .more {
    width: 90%;
    margin-top: 50px;
    display: flex;
    justify-content: end;
}

.more a {
    color: #657080;
    transition: all ease .5s;
}

.more a:hover {
    color: #000;
}

/*************** contenedor ***************/
.container_proyectos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    justify-items: center;
}

/*************** cards ***************/
.container_proyectos .card_proyecto {
    width: 280px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 35px -20px black;
    transition: all ease-in-out .3s;
}

.container_proyectos .card_proyecto:hover {
    transform: translateY(-3px);
}

/*************** foto proyecto ***************/
.card_proyecto .foto_proyecto {
    width: 100%;
    height: 150px;
}


.foto_proyecto img {
    width: 100%;
    height: 100%;
}

.card_proyectos span {
    font-size: 18px;
    font-weight: 600;
}

/*************** links ***************/
.card_proyecto .proyecto_links {
    margin-top: 10px;
}

.card_proyecto .proyecto_links a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #657080;
    transition: all ease-in 0.5s;
}

.card_proyecto .proyecto_links a:hover {
    background-color: #000;
}

/********************************************* CONTACTO *********************************************/
#contacto {
    width: 100%;
    user-select: none;
}

#contacto h2{
    text-align: center;
    padding: 40px 0;
    font-family: 'Kanit-Bold';
}

#contacto .container_contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.container_contacto .datos {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.datos .dato {
    width: 300px;
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: #000;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #000 0px 0px 30px -20px;
    background-color: #fff;
}

.dato i {
    font-size: 20px;
}

.dato span,
.dato p 
{
    font-size: 14px;
}

.dato span {
    font-weight: 600;
}

#contacto .formulario {
    width: 35%;
    padding: 20px;
    display: grid;
    place-items: center;
    box-shadow: #000 0px 0px 30px -20px;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

form {
    width: 95%;
    display: grid;
    place-items: center;
}

form .name, 
form .email, 
form .message {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    border-radius: 20px;
    border:  none;
    outline: none;
    background-color: #e0e0e0;
} 

form textarea {
    width: 100%;
    height: 150px;
}

form button {
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 25px;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #4B5563;
    transition: all .5s ease;
}

form button:hover {
    background-color: #000;
}

/*********************************************  FOOTER *********************************************/
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    user-select: none;
    margin-top: 150px;
    background-color: #657080;
}

footer h1 {
    font-size: 20px;
    font-family: 'Kanit-Bold';
}

footer span {
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
}

footer .redes {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

footer .redes a {
    font-size: 22px;
    text-decoration: none;
    padding: 8px;
    color: #fff;
    transition: all ease .3s;
}

footer .redes a:hover {
    color: #000;
}

footer p {
    color: #fff;
    font-size: 10px;
}
/***************  ***************/
/***************  ***************/
/***************  ***************/
/***************  ***************/
/***************  ***************/
/***************  ***************/
/***************  ***************/